html, body {
  font-family: Helvetica, sans-serif;
  width: 180px;
  margin:0;
}

body> div{
  margin: 0 8px 8px 8px;
  font-size: 15px;
}

form {
  margin: 5px;
}

#domain {
 font-size: 18px;
 font-weight: bold;
 margin-top: 8px;
 text-align: center;
}

label {
  font-weight : bold;
}

#generate-password-button {
  height: 50px;
  border: 3px solid #007738;
  font-weight : bold;
  font-size: 18px;
  background-color: #8DDC63;
  width: 100%;
}

#domain-output{
  margin-bottom: 8px;
  display: block;
}

input, hr{
  width: 100%;
  box-sizing: border-box;
}

input{
  margin-top: 2px;
}